@model ITIGraduation.Models.Sport

<div class="product_page" id="ProductView">
    <h2>Create Sport</h2>

    <form asp-action="Create">
        <div class="form-group">
            <label asp-for="SportName"></label>
            <input asp-for="SportName" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Size"></label>
            <input asp-for="Size" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Price"></label>
            <input asp-for="Price" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="ImagUrl"></label>
            <input asp-for="ImagUrl" class="form-control" />
        </div>
        <button type="submit" class="btn btn-success">Create</button>
        <a asp-action="Index" asp-fragment="ProductView" class="btn btn-secondary">Cancel</a>
    </form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
