@model ITIGraduation.Models.TrendingSelling

<div class="product_page" id="ProductView">
    @{
        ViewData["Title"] = "Create Trending Product";
    }

    <h2>Create Trending Product</h2>

    <form asp-action="Create" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="ProudName"></label>
            <input asp-for="ProudName" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Size"></label>
            <input asp-for="Size" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Price"></label>
            <input asp-for="Price" class="form-control" />
        </div>

        <!-- صور -->
        <div class="form-group">
            <label>Upload Image 1</label>
            <input type="file" name="ImageFile1" class="form-control" />
        </div>
        <div class="form-group">
            <label>Upload Image 2</label>
            <input type="file" name="ImageFile2" class="form-control" />
        </div>
        <div class="form-group">
            <label>Upload Image 3</label>
            <input type="file" name="ImageFile3" class="form-control" />
        </div>
        <div class="form-group">
            <label>Upload Image 4</label>
            <input type="file" name="ImageFile4" class="form-control" />
        </div>

        <button type="submit" class="btn btn-success">Create</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>


</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
